In [1]:
import pandas as pd
import numpy as np

In [31]:
mountains_data = pd.read_csv( 'Mountains.csv', delimiter=',' )

Тут был замечен горный хребет, у которого в двух местах была ошибка в названии

In [54]:
mountains_data = mountains_data.replace( 'Gangkar Puensum', 'Gangkhar Puensum' )

Группируем горы по их горным хребтам

In [41]:
groupped_mountains = mountains_data.groupby( ['Parent mountain'] )[ 'Mountain' ]

Считаем их

In [57]:
mountain_counts = groupped_mountains.count()

Выбираем только те, которые подходят по условию "если гор у хребта больше трёх"

In [67]:
eligible_parent_mountains = mountain_counts[mountain_counts > 3]

Для красоты формируем датафрейм, в котором создаем два столбца - Parent Mountain и Mountains count

In [68]:
df = pd.DataFrame(elligible_parent_mountains).reset_index()
df.columns = ['Parent Mountain', 'Mountains Count']
df

    Parent Mountain  Mountains Count
0           Cho Oyu                7
1        Dhaulagiri                4
2     Distaghil Sar                5
3  Gangkhar Puensum                4
4      Gasherbrum I                8
5                K2                5
6     Kangchenjunga                7
7     Mount Everest                9
8     Shisha Pangma                4