In [282]:
import numpy as np
import pandas as pd
import random
from sklearn.datasets.samples_generator import make_regression 
import pylab
from scipy import stats
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [283]:
data = pd.read_csv( 'adult.csv' )
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [284]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [1073]:
data = data[data.occupation != "?"]

In [1074]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [1075]:
selectedColumns = data[ [ 'age',
                          'workclass', 
                          'educational-num', 
                          'occupation',
                          'hours-per-week',
                          'gender'] ]

In [1076]:
X = pd.get_dummies( selectedColumns )

In [1077]:
X.head()

,age,educational-num,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,gender_Female,gender_Male
0,25,7,40,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,38,9,50,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,28,12,40,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,44,10,40,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
5,34,6,30,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [1078]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [1079]:
le.fit( data['income'] )

LabelEncoder()

In [1080]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [1081]:
le.transform( [ '<=50K', '>50K', '<=50K' ] )

array([0, 1, 0])

In [1088]:
y = pd.Series( data = le.transform( data['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [1089]:
model1 = LogisticRegression()

In [1090]:
X_train_fin, X_val, y_train_fin, y_val = train_test_split(X, y, test_size=0.2)

In [1091]:
model1.fit( X_train_fin, y_train_fin )
y_val_pred = model1.predict(X_val)

In [1092]:
y_val_pred

array([0, 0, 0, ..., 0, 1, 0])

# Значение точности простой логистической регрессией

In [1093]:
accuracy_score( y_val, y_val_pred )

0.8098186162702292

In [1094]:
cs = 10**np.linspace(-3,1,5)
cs

array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01])

In [1095]:
grid = {'C': cs}#, 'max_features': features_num}
gridsearch = GridSearchCV(LogisticRegression(), grid, scoring='accuracy', cv=5)

In [1096]:
gridsearch.fit(X_train_fin, y_train_fin)

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [1097]:
gridsearch.best_params_

{'C': 1.0}

In [1098]:
sorted(gridsearch.grid_scores_, key = lambda x: -x.mean_validation_score)

/Users/konstantingavrilov/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.80394, std: 0.00194, params: {'C': 1.0},
 mean: 0.80386, std: 0.00198, params: {'C': 10.0},
 mean: 0.80288, std: 0.00196, params: {'C': 0.1},
 mean: 0.79759, std: 0.00131, params: {'C': 0.01},
 mean: 0.76101, std: 0.00181, params: {'C': 0.001}]

In [1099]:
params = [{'criterion':['gini','entropy'], 'max_depth': list(range(1,21)), 'max_features': list(range(1,12))}]

In [1100]:
best_C = gridsearch.best_params_["C"]

In [1101]:
clf = LogisticRegression(C=best_C)

In [1102]:
clf.fit(X_train_fin, y_train_fin)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [1103]:
y_val_pred = clf.predict(X_val)

# Значение точности с гридсерчем

In [1104]:
accuracy_score(y_val, y_val_pred)

0.8098186162702292

In [1105]:
for col, val in zip(X_train_fin.columns, clf.coef_[0]):
    print("{:30} {:.2f}".format(col, val))

age                            0.04
educational-num                0.26
hours-per-week                 0.03
workclass_Federal-gov          -0.37
workclass_Local-gov            -0.76
workclass_Private              -0.69
workclass_Self-emp-inc         -0.28
workclass_Self-emp-not-inc     -1.02
workclass_State-gov            -1.06
workclass_Without-pay          -0.21
occupation_Adm-clerical        -0.21
occupation_Armed-Forces        0.03
occupation_Craft-repair        -0.10
occupation_Exec-managerial     0.56
occupation_Farming-fishing     -1.19
occupation_Handlers-cleaners   -1.05
occupation_Machine-op-inspct   -0.47
occupation_Other-service       -1.37
occupation_Priv-house-serv     -1.24
occupation_Prof-specialty      0.36
occupation_Protective-serv     0.29
occupation_Sales               0.04
occupation_Tech-support        0.23
occupation_Transport-moving    -0.28
gender_Female                  -2.80
gender_Male                    -1.60